.editor-label {
    color: white;
}

.editor-field {
    color: white;
}

h2 {
    color: white;
}

legend {
    color: white;
}

.hidden {
    display: none;
}

.break {
    height: 1px;
    background-color: lightgrey;
}

.answer {

}

